.blog-text-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    height: auto;
}

.login-container-width {
    width: 500px;
    height: 800px;
}

.disclaimer-body {
    text-align: center;
}

.disclaimer-container-text {
    font-family: Tahoma;
    text-align: center;
    margin: 0 auto;
    display: flex;
}

.write-blog {
    width: 400px;
    height: 120px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.login-container {
    display: flex;
    width: 100%;
    align-content: center;
    align-items:
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-button {
    display: inline-block;
    font-size: .8em;
    float: right;
}

.nav-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-horizontal:hover {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-horizontal-item {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    display: inline;
}

.nav-horizontal-item:hover {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    display: inline;
}

.log-in-header {
    text-align: center;
}
