    .nav-horizontal {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .nav-horizontal:hover {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .nav-horizontal-item {
        list-style-type: none;
        margin: 0;
        padding: 20px;
        display: inline;
    }

    .nav-horizontal-item:hover {
        list-style-type: none;
        margin: 0;
        padding: 20px;
        display: inline;
    }

    .disclaimer-div-container {
        width: 600px;
        border: 1px solid black;
        display: flex
    }

    .container {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .disclaimer-body {
        text-align: center;
        align-content: center;
    }

    div .blog-text-container {
        display: flex;
        border: 1px solid black;
    }

    input[type=text] {
        width: 100%;
        align-content: center;
        display: inline-block;
        -webkit-transition: width 0.4s ease-in-out;
        border-radius: 4px;
        outline: none;
    }

    form label {
        padding: 40px;
    }

    form {
        justify-content: center;
    }

    form button {
        float: right;
    }
